**<font size = "5" color = "darkred">ch03. 데이터 구조</font>**

## 1. 리스트

### (1) 리스트 만들기

- []를 이용해서 만들며, 여러개의 값을 하나의 변수에 저장 및 관리 가능
- 인덱스: 각 요소의 위치. 0부터 시작하며, 음수로 인덱스를 표현할 때는 맨 마지막 인덱스가 -1이다.
- 슬라이싱: 부분 데이터셋을 뽑아내는 것. 인덱스를 이용하여 쓰기, 읽기 지원

In [2]:
fruits = ['banana', 'apple', 'orange', 'grape']
print(fruits)
print(type(fruits))

['banana', 'apple', 'orange', 'grape']
<class 'list'>

In [5]:
# 0번 인덱스값 추출 
print(fruits[0])

banana

In [4]:
for fruit in fruits:
    print(fruit)

banana
apple
orange
grape

**range(from, to, by); from부터 to바로 앞까지 by씩 증가**
- from 생략시 처음부터, by생략시 1씩 증가

In [6]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [7]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [8]:
list(range(10,-1, -2))

[10, 8, 6, 4, 2, 0]

**len() : 해당 리스트의 요소 갯수**

In [9]:
for idx in range(len(fruits)):
    print('{}번째: {}'.format(idx, fruits[idx]))

0번째: banana
1번째: apple
2번째: orange
3번째: grape

In [11]:
# 하나의 리스트에 서로 다른 타입의 값이 들어올 수 있다. 
list_ = [1, 2, 3, True, '5']
list_

[1, 2, 3, True, '5']

**2차원 리스트**

In [12]:
numbers_2d = [[1, 2, 3, 4, 5],
              [10, 20, 30, 40, 50],
              [1, 3, 5, 7, 9],
              [2, 4, 6, 8, 10]]
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [13]:
numbers_2d[1][0] #첫번째 리스트의 0번째 인덱스 값

10

In [14]:
for row in numbers_2d:
    for data in row:
        print(data, end = '\t')
    print() # 개행

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [15]:
for i in range(len(numbers_2d)):
    for j in range(len(numbers_2d[i])):
        print("{}행{}열: {:>2}".format(i, j, numbers_2d[i][j]), end = '\t')
    print()

0행0열:  1	0행1열:  2	0행2열:  3	0행3열:  4	0행4열:  5
1행0열: 10	1행1열: 20	1행2열: 30	1행3열: 40	1행4열: 50
2행0열:  1	2행1열:  3	2행2열:  5	2행3열:  7	2행4열:  9
3행0열:  2	3행1열:  4	3행2열:  6	3행3열:  8	3행4열: 10

### (2) 기본 정보 조회

In [16]:
numbers = [1, 2, 3, 4, 5]
numbers_2d = [[1, 2, 3, 4, 5],
              [10, 20, 30, 40, 50],
              [1, 3, 5, 7, 9],
              [2, 4, 6, 8, 10]]

In [18]:
# 요소 수 
print('numbers의 요소 수: ', len(numbers))
print('numbers_2d의 요소 수: ', len(numbers_2d))
print('numbers_2d[0]의 요소 수: ', len(numbers_2d[0]))

numbers의 요소 수:  5
numbers_2d의 요소 수:  4
numbers_2d[0]의 요소 수:  5

In [19]:
# 최소값, 최대값
min(numbers), max(numbers)

(1, 5)

In [20]:
# 2차원 리스트에서 max()함수: 
#                 부분 리스트 중 첫 요소가 가장 큰 값을 갖는 리스트 반환
# 2차원 리스트에서 min()함수: 
#                 부분 리스트 중 첫 요소가 가장 작은 값을 갖는 리스트 반환
min(numbers_2d), max(numbers_2d)

([1, 2, 3, 4, 5], [10, 20, 30, 40, 50])

### (3) 요소 추가

- +: 두 리스트 연결
- *: 리스트를 곱한 수만큼 반복
- append(): 새 요소 맨 뒤에 추가
- extend(): 리스트를 요소별로 맨 뒤에 추가
- insert(): 지정된 index위치에 새 요소 삽입

In [21]:
numbers = [1, 2, 3, 4, 5]
numbers = numbers + numbers # 리스트 연결 
numbers

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [22]:
numbers = [1, 2, 3]
print(numbers * 3) # 3번 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [23]:
print('ABC' * 3)

ABCABCABC

In [24]:
numbers = [1, 2, 3]
numbers.append(4) # 요소의 맨 뒤에 '4' 추가
numbers

[1, 2, 3, 4]

In [25]:
numbers = [1, 2, 3]
num = [4, 5, 6]
numbers.extend(num) 
numbers

[1, 2, 3, 4, 5, 6]

In [26]:
numbers.extend('Hello') # 문자 추가시 한글자씩 요소가 분리되어 추가된다.
numbers

[1, 2, 3, 4, 5, 6, 'H', 'e', 'l', 'l', 'o']

In [28]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(1, 1.5) # 1번 인덱스에 1.5추가 (기존 인덱스들은 뒤로 밀려남)
numbers

[1, 1.5, 2, 3, 4, 5]

### (4) 인덱싱

- count(): 데이터의 갯수 반환
- index(): 해당 요소의 위치 반환
- [index]: 인덱스를 이용한 접근

In [29]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers_2d = [[1, 2, 3,], [1, 2, 3]]

print(numbers)
print(numbers_2d)

[1, 2, 3, [1, 2, 3], 1, 2, 3]
[[1, 2, 3], [1, 2, 3]]

In [34]:
numbers.count(2)
        # numbers 리스트에 요소 2는 몇개? (리스트 속 리스트의 2는 제외)

0

In [33]:
numbers.count(9)

0

In [35]:
numbers.count([1, 2, 3])

1

In [36]:
numbers_2d.count(2)

0

In [37]:
numbers_2d.count([1, 2, 3])

2

In [38]:
# 0번째 인덱스부터 봤을 때 처음 나오는 2의 인덱스 번호
numbers.index(2)

1

In [39]:
# 4번 인덱스 이후부터 처음 나오는 2의 인덱스 번호
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
#          0  1  2   3         4  5  6  (인덱스 번호)
numbers.index(2, 4)

5

In [40]:
# index()는 없는 값을 찾을 경우, 에러 발생 
print(numbers.count(9))
print(numbers.index(9))

0

ValueError: 9 is not in list

In [41]:
# 해당 리스트의 범위를 벗어나는 인덱스 번호 출력시, 에러 발생 
numbers[7]

IndexError: list index out of range

### (5) 리스트 슬라이싱 - 원하는 리스트 내용만 추출하기
- (인덱스보다 많이 사용한다.) 
- [from : to : by] ; from부터 to 바로 앞까지 by씩 증가하는 index 아이템 추출
- from, to, by는 생략할 수 있다. 
- 음수 인덱스 번호 사용 가능

In [42]:
numbers = [1, 2, 3, 4, 5]

In [43]:
# 해당 인덱스 범위를 벗어난 번호를 to자리에 입력시, 자동으로 끝까지 출력
numbers[2:9]

[3, 4, 5]

In [44]:
# 처음부터 끝까지 
numbers[::]

[1, 2, 3, 4, 5]

In [45]:
# 끝부터 처음까지 
numbers[::-1]

[5, 4, 3, 2, 1]

In [46]:
numbers[-5:-1]

[1, 2, 3, 4]

In [47]:
# -1 부터 -5 바로 전까지 1씩 증가 
numbers = [1, 2, 3, 4, 5]
numbers[-1:-5]

[]

In [48]:
numbers_2d = [[1, 2, 3], [10, 20, 30], [11, 12, 13], [21, 22, 23]]
numbers_2d[1:3]

[[10, 20, 30], [11, 12, 13]]

In [49]:
numbers_2d[0][1:3]

[2, 3]

**람다식을 이용해서 list의 원하는 데이터 액세스**

In [51]:
numbers = [1, 3, 5, 9, 10, 12, 15, 18, 19, 20]

# 모든 데이터 가져오기
#for data in numbers:
#    print(data)
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 15, 18, 19, 20]

In [53]:
# 짝수 데이터 가져오기
#for x in numbers:
#    if x % 2 == 0:
#        print(x)
[x for x in numbers if x % 2 == 0 ]

[10, 12, 18, 20]

In [55]:
# 10이상의 데이터만 가져오기 
[x for x in numbers if x >= 10]

[10, 12, 15, 18, 19, 20]

In [60]:
# 5글자 넘는 요소만 추출 
fruits = ['orange', 'banana', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit) > 5]

['orange', 'banana']

In [61]:
# 리스트 값의 제곱 추출 
list_ = [1, 2, 3, 4, 5]
[x**2 for x in list_]

[1, 4, 9, 16, 25]

In [62]:
# 리스트 값의 세제곱 추출 
[x**3 for x in list_]

[1, 8, 27, 64, 125]

In [64]:
# 리스트 값의 두 배의 수 추출 
[x*2 for x in list_]

[2, 4, 6, 8, 10]

### (6) 요소 수정하기

In [1]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
numbers[2] = 222 # 2번 인덱스값을 222로 수정
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# 부분 리스트 통재로 바꾸기 
numbers[0:5] = [11, 11, 11, 11, 11, 11, 11]
numbers # 0~5 인덱스 자리에 위의 요소가 그대로 들어감

[11, 11, 11, 11, 11, 11, 11, 5, 6, 7, 8, 9]

In [3]:
# 0~5인덱스 자리의 값을 5~끝까지의 요소로 바꾸기
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[0:5] = numbers[5:] 
numbers

[5, 6, 7, 8, 9, 5, 6, 7, 8, 9]

In [7]:
# 슬라이싱에서 by 추가 
numbers = [0] * 10
print('수정 전: ', numbers)
numbers[::2] = [9, 9, 9, 9, 9]
print('수정 후: ', numbers)

수정 전:  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정 후:  [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [8]:
# 슬라이싱에 by가 포함될 경우, 바꿀 값과 바꾸려는 값의 수가 같아야 한다. 
numbers[::2] = [1, 1, 1]

ValueError: attempt to assign sequence of size 3 to extended slice of size 5

### (7) 삭제하기 
- pop(): 가작 마지막 요소 반환되고 삭제
- pop(n) n번째 요소 반환되고 삭제
- remove(data): 해당 데이터 삭제
- del xx[n]

In [9]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(numbers)
print(numbers.pop()) # 마지막 요소 '9' 반환
print(numbers) # '9' 삭제 확인

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
print(numbers.pop(2))
print(numbers)

2
[0, 1, 3, 4, 5, 6, 7, 8]

In [11]:
numbers_2d = [[1, 2, 3], [10, 20, 30], [100, 100, 100]]

print('pop 전: ', numbers_2d)
print(numbers_2d.pop())
print('pop 후: ', numbers_2d)

pop 전:  [[1, 2, 3], [10, 20, 30], [100, 100, 100]]
[100, 100, 100]
pop 후:  [[1, 2, 3], [10, 20, 30]]

In [12]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(numbers.remove(5)) # remove는 반환값이 없음 
print(numbers)

None
[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [13]:
numbers.remove(99) # 없는 값을 remove할 경우, 에러 발생

ValueError: list.remove(x): x not in list

In [14]:
print(numbers)
del numbers[2]
print(numbers)

[0, 1, 2, 3, 4, 6, 7, 8, 9]
[0, 1, 3, 4, 6, 7, 8, 9]

In [15]:
del numbers # numbers 전체 삭제
numbers

NameError: name 'numbers' is not defined

In [16]:
numbers = [0, 1, 2, 3, 4]

print('clear 전: ', numbers)
numbers.clear()
# del numbers[:]
print('clear 후: ', numbers)

clear 전:  [0, 1, 2, 3, 4]
clear 후:  []

### (8) 정렬하기

In [17]:
# 기본 정렬: 오름차순 
numbers = [9,5,1,0,6,4,2,8]
numbers.sort()
numbers

[0, 1, 2, 4, 5, 6, 8, 9]

In [19]:
numbers = [9,5,1,0,6,4,2,8]
numbers.sort()
numbers[::-1] # 내림차순한 것 처럼 출력되나, 내림차순 정렬로 저장되지 않는다.

[9, 8, 6, 5, 4, 2, 1, 0]

In [22]:
# 내림차순 정렬 
numbers
numbers.sort(reverse = True)
numbers

[9, 8, 6, 5, 4, 2, 1, 0]

In [23]:
# 리스트를 역순으로 정렬 
numbers.reverse()
numbers

[0, 1, 2, 4, 5, 6, 8, 9]

In [25]:
# reverse()와 같은 명령
numbers = numbers[::-1]
numbers

[0, 1, 2, 4, 5, 6, 8, 9]

### (9) 리스트 복제

In [27]:
# 리스트 주소값 복사 
numbers = [6,2,7,4,10]
new_numbers = numbers # numbers에 있는 주소값이  new_numbers로
numbers.sort() # numbers 리스트 오름차순 정렬 

print('정렬 전 데이터: ', new_numbers)
print('정렬 후 데이터: ', numbers)
print('numbers 주소: ', id(numbers))
print('new_numbers 주소: ', id(new_numbers))

정렬 전 데이터:  [2, 4, 6, 7, 10]
정렬 후 데이터:  [2, 4, 6, 7, 10]
numbers 주소:  2252447205760
new_numbers 주소:  2252447205760

In [28]:
# 복제
numbers = [6,2,7,4,10]
new_numbers = numbers.copy() # new_numbers에 number 데이터 복제
numbers.sort()

print('정렬 전 데이터: ', new_numbers)
print('정렬 후 데이터: ', numbers)
print('numbers 주소: ', id(numbers))
print('new_numbers 주소: ', id(new_numbers))

정렬 전 데이터:  [6, 2, 7, 4, 10]
정렬 후 데이터:  [2, 4, 6, 7, 10]
numbers 주소:  2252429398848
new_numbers 주소:  2252447204608

In [37]:
cities = ['Seoul', 'London', 'Paris', 'New York', 'Sydney']
cities.sort()
cities

['London', 'New York', 'Paris', 'Seoul', 'Sydney']

In [38]:
'   '.join(cities)

'London   New York   Paris   Seoul   Sydney'

## 2. 튜플
- 리스트와 유사하지만, 읽기 전용이다.
- 수정 불가능(데이터 추가, 수정, 삭제 불가) => 제공되는 함수가 많지 않다.
- ()를 이용하여 생성한다.

In [40]:
cities = ('Seoul', 'London', 'Paris', 'New York', 'Sydney', 'Busan')
type(cities)

tuple

In [41]:
'-'.join(cities)

'Seoul-London-Paris-New York-Sydney-Busan'

In [42]:
# 요소가 하나 있는 리스트 
c = ['Seoul']
print(type(c))
print(c)

<class 'list'>
['Seoul']

In [43]:
# 요소가 하나 있는 튜플 (마지막에 콤마를 붙여준다.)
c = ('Seoul',)
print(type(c), len(c))
print(c)

<class 'tuple'> 1
('Seoul',)

In [44]:
# 여러개의 값이 나열될 때는 자동적으로 튜플 처리된다.
numbers = 1, 2, 3
type(numbers)

tuple

In [45]:
# 삭제, 수정 등 불가능 
numbers.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [46]:
min(numbers), max(numbers), len(numbers)

(1, 3, 3)

In [47]:
numbers = (1, 2, 3, 2, 4)
numbers.count(2)

2

In [48]:
numbers.index(3) # 3번 인덱스값 반환

2

In [52]:
data = (0, 1, 2, 3, 4, (5, 6))
data[3:6]

(3, 4, (5, 6))

In [53]:
data[::-1]

((5, 6), 4, 3, 2, 1, 0)

In [54]:
data.index(9) # 없는 인덱스값 반환시 에러 발생

ValueError: tuple.index(x): x not in tuple

In [55]:
data[5:9:2]

((5, 6),)

In [56]:
data[-1:-5:-1]

((5, 6), 4, 3, 2)

In [57]:
data = ((100, 0, 0), (10, 20, 30))
max(data), min(data), len(data)

((100, 0, 0), (10, 20, 30), 2)

In [58]:
data = (1, 2, 3) 
data + data

(1, 2, 3, 1, 2, 3)

In [60]:
data = ('Seoul', 2, True)
data * 3

('Seoul', 2, True, 'Seoul', 2, True, 'Seoul', 2, True)

In [61]:
del data
data

NameError: name 'data' is not defined

## 3. 딕셔너리 
<pre>cf) 자바에서의 hashMap과 유사</pre>
- {}를 이용하여 생성 / 키(key):값(value)의 쌍으로 구성된 자료구조
- 키(key): 중복 불가 /  리스트는 사용 불가능하며, 튜플은 사용 가능 
- 값(value): 중복 가능 / 모든 데이터타입 가능 
- 없는 키의 값을 참조하면 에러 발생 
- 인덱스를 이용한 참조는 지원하지 않는다.

In [63]:
dic = {'key1':'value', 'key2':'value'}
len(dic)

2

In [64]:
my_favorite = {'fruit':'orange', 'number':3, 'sport':'walking'}
my_favorite

{'fruit': 'orange', 'number': 3, 'sport': 'walking'}

In [66]:
# 특정 키로 해당 키의 값 추출
my_favorite.get('fruit')

'orange'

In [68]:
my_favorite['fruit']

'orange'

In [69]:
# 목록에 없는 키 참조시 에러 발생 
my_favorite['people']

KeyError: 'people'

In [70]:
my_favorite[0] # 인덱스를 통한 참조는 지원하지 않음

KeyError: 0

In [71]:
# 특정 값 변경하기 
my_favorite = {'fruit':'orange', 'number':3, 'sport':'walking'}
my_favorite['fruit'] = 'banana'
my_favorite

{'fruit': 'banana', 'number': 3, 'sport': 'walking'}

In [72]:
# key: 숫자 or 문자 or 튜플 / 중복 불가 
# value : 모든 문자 타입 / 중복 가능 
my_dic1 = {1:'Park', 2:'Python', 3:'Hello'}
my_dic1

{1: 'Park', 2: 'Python', 3: 'Hello'}

In [77]:
# my_dic1 에 key, value 추가 
my_dic1['people'] = ['jim', 'lim']
my_dic1['study'] = ['r', 'python'] 
my_dic1[1] = 'Hi' # 1번인덱스 value 변경 
my_dic1

{1: 'Hi',
 2: 'Python',
 3: 'Hello',
 'people': ['jim', 'lim'],
 'study': ['r', 'python']}

In [78]:
del my_dic1['study'] 
my_dic1

{1: 'Hi', 2: 'Python', 3: 'Hello', 'people': ['jim', 'lim']}

In [79]:
# key값이 중복될 경우, 중복된 key값의 value들 중 뒤의 value값은 출력되지 않는다.
my_dic2 = {'name':'park', 'name':'kim', 'age':30}
my_dic2

{'name': 'kim', 'age': 30}

In [80]:
# True == 1, False == 2 로 간주 
# key값에 True와 1 둘다 있을 경우, 앞의 값으로 출력됨 
#                             value 값은 숫자key(0,1)의 값 우선 출력됨 
my_dic3 = {1:'Park', True:'World', False:'Python', 0:'R'}
my_dic3

{1: 'World', False: 'R'}

In [86]:
my_list = ['park', 30, '010-9999-9999']
my_tuple = ('park', 30, '010-9999-9999')

for data in my_tuple:
    print(data)
print()

for idx in range(len(my_list)):
    print("{}번째 데이터 {}".format(idx, my_tuple[idx]))

park
30
010-9999-9999

0번째 데이터 park
1번째 데이터 30
2번째 데이터 010-9999-9999

In [89]:
# 딕셔너리는 리스트나 튜플처럼 for문을 돌리면 key값만 추출됨 
my_dic = {'name':'park', 'age':30, 'tel':'010-9999-9999'}

for data in my_dic:
    print(data)

name
age
tel

In [91]:
my_dic.keys() # key목록

dict_keys(['name', 'age', 'tel'])

In [92]:
my_dic.values() # value목록

dict_values(['park', 30, '010-9999-9999'])

In [93]:
my_dic.items() # (key, value) 튜플 형식으로

dict_items([('name', 'park'), ('age', 30), ('tel', '010-9999-9999')])

In [98]:
for key in my_dic:
    print(key, end = '\t')

name	age	tel

In [96]:
for key in my_dic.keys():
    print(key, end = '\t')

name	age	tel

In [99]:
for value in my_dic.values():
    print(value, end = '\t')

park	30	010-9999-9999

In [100]:
for item in my_dic.items():
    print(item)

('name', 'park')
('age', 30)
('tel', '010-9999-9999')

In [101]:
for key, value in my_dic.items():
    print("{}은 {}".format(key, value), end = '\t')

name은 park	age은 30	tel은 010-9999-9999

**in연산자**: 키가 있는지 여부를 판단함

In [106]:
# value값의 여부는 판단하지 않는다. 
my_favorite = {'fruit':'orange', 'number':3, 'sport':'walking'}
'orange' in my_favorite

False

In [107]:
'number' in my_favorite

True

In [108]:
# 할당
new_my_favorite = my_favorite
print('new_my_favorite: ', new_my_favorite)
print('my_favorite: ', my_favorite)

new_my_favorite:  {'fruit': 'orange', 'number': 3, 'sport': 'walking'}
my_favorite:  {'fruit': 'orange', 'number': 3, 'sport': 'walking'}

In [109]:
# 할당 후 특정 값 변경 
my_favorite['fruit'] = 'all'

print('new_my_favorite: ', new_my_favorite)
print('my_favorite: ', my_favorite)
print('new_my_favorite 주소: ', id(new_my_favorite))
print('my_favorite 주소: ', id(my_favorite))
# 할당된 딕셔너리값과 주소도 함께 변경된다.

new_my_favorite:  {'fruit': 'all', 'number': 3, 'sport': 'walking'}
my_favorite:  {'fruit': 'all', 'number': 3, 'sport': 'walking'}
new_my_favorite 주소:  2252447342272
my_favorite 주소:  2252447342272

## 4. 셋(set)
- 중복을 허용하지 않는 집합(순서가 없다.)
- {}나 set()함수를 이용하여 생성; 
- set(딕셔너리타입의 변수): 딕셔너리 변수의 키만 셋에 추가
- 집합 연산자: &(교집합) / |(합집합) / -(차집합)

In [112]:
# 중복된 값이 있으면 자동 제거되고 하나만 출력된다.
music = {'ccm', 'ballad', 'jazz', 'ccm'}
music

{'ballad', 'ccm', 'jazz'}

In [114]:
s1 = set([1, 2, 3, 1])
s1

{1, 2, 3}

In [115]:
# 요소 추가 가능 (이미 존재하는 요소는 또 추가되지 않는다.)
s1.add(4)
s1.add(1)
s1

{1, 2, 3, 4}

In [117]:
# 튜플 하나 추가하기 
s1.add( (5,6,7,8,9) )
s1

{(5, 6, 7, 8, 9), 1, 2, 3, 4}

In [118]:
# add함수로는 리스트를 추가할 수 없다. 
s1.add( [10, 11] )

TypeError: unhashable type: 'list'

In [119]:
# add함수로는 딕셔너리도 추가할 수 없다. 
s1.add({'number':12})

TypeError: unhashable type: 'dict'

**리스트나 딕셔너리를 셋에 추가하려면 update()를 사용**
**(단, 딕셔너리는 key값만 추가된다.)**

In [121]:
s1 = {1, 2, 3, 4}
s1.update([5, 6, 7, 8, 9])
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [122]:
s1.update({'name':'park'}) 
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'name'}

In [125]:
# 특정요소 삭제하기 
s1.remove(9)
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [126]:
# 없는 값을 삭제하면 에러 발생 
s1.remove('park')

KeyError: 'park'

In [128]:
# True == 1, False == 1 로 간주하여, 둘 다 있는 경우 중복 처리된다. 
s1 = {0, False, True, 1}
s1

{0, True}

In [129]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}
s1, s2

({1, 2, 3, 4, 5, 6}, {4, 5, 6, 7, 8, 9})

In [130]:
# 합집합 
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [131]:
# 교집합
s1 & s2

{4, 5, 6}

In [133]:
# 차집합 
print(s1 - s2)
print(s2 - s1)

{1, 2, 3}
{8, 9, 7}

In [134]:
names = {'kim', 'lee', 'park'}

for name in names:
    print(name, end = '\t')

park	lee	kim

## 5. enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 때, 인덱스 처리를 해결한다

In [135]:
list(enumerate(names)) # 임의로 순서 지정됨

[(0, 'park'), (1, 'lee'), (2, 'kim')]

In [136]:
for idx, name in enumerate(names):
    print("{}번: {}".format(idx, name))

0번: park
1번: lee
2번: kim

In [138]:
list_ = ['crystal', 'mimi', 'bella']

for idx in range(len(list_)):
    print("{}번: {} ".format(idx, list_[idx]))

0번: crystal
1번: mimi
2번: bella

In [139]:
dic = {'name':'elena', 'age':30, 'address':'bucheon'}

list(enumerate(dic.items()))

[(0, ('name', 'elena')), (1, ('age', 30)), (2, ('address', 'bucheon'))]

In [141]:
for idx, (key,value) in enumerate(dic.items()):
    print("{}번째 키: {}, 값: {}".format(idx, key, value))

0번째 키: name, 값: elena
1번째 키: age, 값: 30
2번째 키: address, 값: bucheon

## <연습문제>

### - 실습형

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
#1. 숫자100을 맨 뒤에 추가하기
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [3]:
#2. data 리스트를 numbers 리스트 맨 뒤에 추가하기 
data = [200, 300, 400, 500]

numbers.extend(data)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [4]:
#3. 처음 다섯개의 숫자 출력하기 
numbers[:5]

[1, 2, 3, 4, 5]

In [5]:
#4. 짝수번째 데이터만 출력하기 
numbers[::2]

[1, 3, 5, 7, 9, 100, 300, 500]

In [7]:
#5. 짝수번째 데이터를 모두 0으로 바꾸기
numbers[0::2] = [0] * len(numbers[::2])
numbers

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]

In [8]:
#6. 데이터를 역순으로 나열하기(내림차순 정렬 아님)
numbers.reverse()
numbers

[0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [11]:
member_info = {"name":"홍길동", "age":20, "address":"서울시 마포구", "score":90}

In [12]:
#7. address값 출력하기

print(member_info['address'])
print(member_info.get('address'))

서울시 마포구
서울시 마포구

In [13]:
#8. score를 출력하고 member_info 딕셔너리에서 삭제하기
# 방법1
member_info.pop('score')
print(member_info)

# 방법2
member_info = {"name":"홍길동", "age":20, "address":"서울시 마포구", "score":90}
print(member_info['score'])
del member_info['score']
print(member_info)

{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}
90
{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [159]:
#9. address를 '서울시 서대문구'로 변경하기
member_info['address'] = '서울시 서대문구'
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [14]:
#10. member_info의 딕셔너리의 데이터 값만 리스트로 출력하기 
list(member_info.values())

['홍길동', 20, '서울시 마포구']

### 서술형

In [15]:
#1. 
list_ = ('orange', 'apple', 'banana', 'kiwi')
new_list = [i for i in list_ if len(i)>5]
print(new_list)

['orange', 'banana']

In [18]:
#2 
print(list(range(10)))
print(list(range(5,10)))
print(list(range(10,0,-1)))
print(list(range(10,20,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 12, 14, 16, 18]

In [19]:
#3
numbers_2d = [[1,2,3,4,5], [10,20,30,40], [1,3,5], [2,]]
len(numbers_2d[3])

1

In [20]:
#4 extend()
numbers = [1,2,3,4,5]
numbers.extend([10,20,30,40,50])
numbers

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [22]:
#5. 
numbers = list(range(10))
numbers[::2] = [0] * len(numbers[::2])
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [23]:
#6,7
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = numbers[5:]
print(numbers)

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [25]:
#8
my_dic = {'a':10, 'b':20, 'c':30}

# print(my_dic[0]) # 딕셔너리는 인덱스 번호로 출력할 수 없다.
print(my_dic['a'])
print(list(my_dic.items())[0][1])
print(list(my_dic.values())[0])
print(my_dic.get('a'))

10
10
10
10